* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
.logo {
  max-width: 200px;
  max-height: 200px;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(24, 26, 27);
  color: rgb(252, 252, 252);
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.FooterContentContainer {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  min-height: 64px;
}

.fa {
  font-size: 25px;
  color: #27bdfd;
}

.languageDiv {
  margin-top: 12px;
}

.FooterContainer {
  width: 100%;
  color: #e8e6e3;
  background-color: rgb(40, 42, 44);
  margin-top: 48px;
}
.FooterSeperator {
  padding: 0 10px;
}

.hello {
  text-align: center;
  padding: 30px;
  display: flex;
  margin-bottom: 30px;
}
.contactTitle {
  color: #fff;
  font-weight: 600;
}

.flexProject {
  margin-bottom: 50px;
}

.underLiner {
  font-size: 40px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Rubik";
  color: #27bdfd;
  text-align: center;
}

.headliner {
  margin-top: 55px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;

  color: rgb(252, 252, 252);
}

.head {
  font-weight: 300;
  display: block;
  font-family: "Montserrat", sans-serif;
  color: rgb(252, 252, 252);
}
.head2 {
  animation-delay: 1s;
  font-weight: 300;
  display: block;
  font-family: "Montserrat", sans-serif;
  color: rgb(252, 252, 252);
}
.appLogo {
  width: 30%;
}
.iconDiv {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.languages {
  list-style: none;
  font-size: 13px;
  padding: 10px;
  font-weight: 300;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.projects {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.bio {
  line-height: 140%;
  font-size: 14px;
  width: 100%;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  background-color: rgb(24, 26, 27);
  border-radius: 5px;
  font-family: "Rubik";
  height: 45px;
  text-align: center;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  position: absolute;
  max-width: 100%;
}

.screenshot {
  width: 100%;
  overflow: hidden;
  max-height: 350px;
}

.aboutMe {
  text-align: center;
  padding: 15px;
  margin-bottom: 50px;
  margin-left: 10px;
}

.aboutMeTitle {
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Rubik";
  color: #27bdfd;
  text-align: center;
}

.descriptionTitle {
  font-size: 24px;
  text-decoration: none !important;
  font-weight: 400;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  color: #27bdfd;
}

.appDescription {
  line-height: 140%;
  width: 300px;
  font-size: 13px;
  font-weight: 200;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.links {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  height: 50px;
  text-align: center;
}

.projectsTitle {
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Rubik";
  color: #27bdfd;
  text-align: center;
  border-bottom: 1px solid #fff;
  width: 300px;
}
.projectTitleDiv {
  display: flex;
  justify-content: center;
}
.button {
  background: none;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  width: 120px;
  margin-top: 12px;
  outline: none;
  margin-left: 10px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border: 1px solid #27bdfd;
  color: #27bdfd;
}

.button:hover {
  transition: all 0.1s ease-in-out;
  background-color: #27bdfd;
  color: #000;
  cursor: pointer;
}

.description {
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
}

.languagesTitle {
  font-size: 22px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #27bdfd;
}

.appDescriptionDiv {
  display: flex;
  justify-content: center;
}

.topList {
  list-style: none;
  font-weight: 200;
  margin-top: 30px;
}

.navLinks {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: rgb(252, 252, 252);
  text-align: center;
  font-family: "Rubik";
}

.navLinks:hover {
  color: #27bdfd;
}

.email {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 30px;
}
#img2 {
  width: 30%;
}
.end {
  display: block;
  padding: 20px;
  margin-top: 40px;
  color: #fff;
  font-weight: 500;
}

#icon {
  padding: 5px;
}

.appImg {
  width: 200px;
  height: auto;
  overflow: hidden;
}

@media (min-width: 320px) {
  .links {
    justify-content: space-evenly;
    margin-top: 13px;

    width: 60%;
  }
  nav {
    display: flex;
    justify-content: space-around;
  }
  .appDescription {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .FooterContentContainer {
    flex-direction: column;
    padding: 24px 0px;
  }
  .head {
    font-size: 25px;
    margin-top: 12px;
  }
  .flexDescriptionDiv {
    margin-bottom: 25px;
    text-align: left;
  }
  #iconLogo {
    margin-top: 10px;
    margin-left: 15px;
  }
  .iconDiv {
    width: 45%;
    margin-top: 20px;
    color: rgb(46, 145, 246);
  }
  .head2 {
    font-size: 25px;
    margin-top: 12px;
  }
  .underLiner {
    font-size: 35px;
  }

  .appImg {
    width: 80%;
    height: 120px;
  }

  .nav {
    width: 100%;
  }

  .headliner {
    margin-top: 70px;
  }

  .hello {
    display: block;
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
  }
  .appLogo {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 321px) {
  .end {
    margin-top: 0px;
    padding: 0px;
  }
}

@media (min-width: 600px) {
  .appLogo {
    margin-top: 55px;
    width: 60%;
  }

  .aboutMeBio {
    display: flex;
    justify-content: center;
  }

  .buttons {
    display: flex;
    justify-content: left;
  }
  .projectsTitle {
    width: 590px;
    font-size: 30px;
  }
  .iconDiv {
    width: 30%;
    margin-top: 0px;
  }
  .button {
    margin-left: 20px;
    width: 150px;
    font-size: 18px;
  }
  .portfolio-logo {
    margin-left: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navLinks {
    font-size: 20px;
  }

  .screenshot {
    max-width: 750px;
  }

  .head {
    font-size: 33px;
  }

  .head2 {
    font-size: 33px;
  }

  .languages {
    font-size: 14px;
  }

  .languageDiv {
    margin-left: 10px;
  }
  .underLiner {
    font-size: 40px;
  }

  .appImg {
    width: 80%;
    height: 90px;
    margin-left: 30px;
  }

  .bio {
    font-size: 19px;
    text-align: left;
    margin-left: 10px;
    max-width: 590px;
  }

  .FooterContentContainer {
    flex-direction: row;
    justify-content: space-around;
  }

  .aboutMeTitle {
    font-size: 30px;
  }

  .appDescription {
    font-size: 15px;
    padding: 10px;
    width: 500px;
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .flexDescriptionDiv {
    width: 600px;
  }

  .description {
    text-align: left;
  }
  .descriptionTitle {
    font-size: 25px;
    margin-left: 10px;
  }
  .flexProject {
    display: flex;
    justify-content: center;
    width: 670px;
  }

  .links {
    justify-content: space-evenly;
    width: 40%;
  }
  nav {
    display: flex;
    justify-content: space-around;
  }

  .hello {
    display: block;
  }
}

@media (min-width: 800px) {
  .hello {
    display: flex;
    justify-content: space-evenly;
  }
  .flexProject {
    display: flex;
    width: 835px;
  }
  .bio {
    max-width: 730px;
    font-size: 30px;
  }
  .headliner {
    margin-top: 78px;
  }

  .head {
    font-size: 55px;
  }
  .head2 {
    font-size: 55px;
  }
  .underLiner {
    font-size: 55px;
  }

  .appLogo {
    width: 500px;
  }

  .links {
    margin-top: 15px;
  }

  .navLinks {
    font-size: 20px;
  }

  .projects {
    margin-bottom: 0px;
  }

  .languages {
    letter-spacing: 2.5px;
    font-size: 14px;
  }

  .description {
    text-align: left;
    font-size: 17px;
  }

  .descriptionTitle {
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .email {
    font-size: 20px;
  }

  .aboutMe {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .screenshot {
    max-width: 300px;
  }
  .end {
    margin-top: 40px;
  }

  .appDescriptionDiv {
    justify-content: left;
  }
  .appDescription {
    text-align: left;
  }
  .aboutMeBio {
    display: flex;
    justify-content: center;
  }

  .languageDiv {
    margin-left: 10px;
  }
  .appImg {
    width: 70%;
    height: 90px;
  }

  .appDescription {
    max-width: 500px;
  }
  .buttons {
    justify-content: left;
  }
  .FooterContentContainer {
    flex-direction: row;
    justify-content: space-around;
  }
  .button {
    font-size: 18px;
  }
}

@media (min-width: 1100px) {
  .bio {
    max-width: 750px;
    font-size: 20px;
  }
  .FooterContentContainer {
    padding: 0px;
  }
  .iconDiv {
    width: 20%;
  }
  .links {
    justify-content: space-evenly;
    width: 25%;
  }
  .appDescription {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .appDescriptionDiv {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }
  .flexIntro {
    justify-content: center;
  }
  .projectsTitle {
    width: 745px;
    font-size: 35px;
  }
  .aboutMeTitle {
    font-size: 35px;
  }

  .appImg {
    width: 130px;
    margin-left: 30px;
  }
  .underlineDiv {
    width: 500px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
  }
  .head {
    font-size: 40px;
  }
  .projectTitleDiv {
    display: flex;
    justify-content: center;
  }
  .projects {
    display: flex;
    justify-content: center;
  }
  .head2 {
    font-size: 40px;
  }
  .description {
    height: 320px;
  }
  .descriptionTitle {
    font-size: 26px;
  }
  .flexProject {
    width: 630px;
    height: 320px;
  }
  @media (min-width: 1700px) {
    .flexIntro {
      display: flex;
      justify-content: space-evenly;
    }
    .underliner {
      font-size: 40px;
    }
    .headliner {
      margin-top: 78px;
    }
  }
}
